<% my_cust_query = user.pref.my_cust_query
  if !my_cust_query.nil? %>
  <div class="contextual">
    <% if my_cust_query[:query_ids].empty? && controller.action_name == 'page' %>
      <%= link_to l(:label_select_query), myqueryform_path(:type => 'my_cust_query'), :remote => true, :class => 'icon icon-add' %>
    <% elsif my_cust_query[:query_ids].any? %>
      <%= link_to l(:label_update_query), myqueryform_path(:type => 'my_cust_query'), :remote => true, :class => 'icon icon-edit' %>
    <% end %>
  </div>
  <% if my_cust_query[:query_ids].empty? %>
    <h3><%= l(:label_my_custom_queries) %></h3>
  <% end %>
<% end %>

<div id='myqueryedit' style='display:none;'></div>
<div id='mycustomquery'>
  <% if !my_cust_query.nil? && my_cust_query[:query_ids].any? %>
    <% my_cust_query[:query_ids].each do |queryid| %>
      <%= render :partial => "my_queries_issue_list", :locals => { :query_id => queryid,
              :query_limit => my_cust_query[:limit] } %>
      <hr>
    <% end -%>
  <% end -%>
</div>
